$text-size-xgiant: 6rem;
$text-size-giant: 4.5rem;
$text-size-xlarge: 4rem;
$text-size-large: 3.2rem;
$text-size-2xbig: 2.4rem;
$text-size-xbig: 2.2rem;
$text-size-big: 2rem;
$text-size-medium: 1.8rem;
$text-size-regular: 1.6rem;
$text-size-small: 1.3rem;
$text-size-xsmall: 1.2rem;
$text-size-tiny: 1rem;

$text-size-meta: $text-size-regular;
$text-size-meta-small: $text-size-small;
$text-size-meta-medium: $text-size-medium;
$text-size-meta-large: $text-size-big;
$text-size-meta-xlarge: $text-size-2xbig;
$text-size-meta-giant: $text-size-large;

$text-size-button: $text-size-regular;
$text-size-button-big: $text-size-2xbig;
$text-size-button-small: $text-size-xsmall;

$text-size-inputfield-meta: $text-size-small;

$text-size-numberinput-label: $text-size-medium;
$text-size-numberinput-control: $text-size-giant;
$text-size-numberinput-input: $text-size-2xbig;

$text-size-numberselector-number: $text-size-large;

$text-size-checkbox-info: $text-size-regular;

$text-size-checklistitem-title: $text-size-big;
$text-size-checklistitem-subtitle: $text-size-regular;
$text-size-checklistitem-suffix: $text-size-xsmall;

$text-size-input-input: $text-size-regular;
$text-size-input-message: $text-size-regular;

$text-size-infoblock-title: $text-size-xsmall;
$text-size-infoblock-value: $text-size-large;

$text-size-inputlabel-label: $text-size-big;
$text-size-inputlabel-description: $text-size-regular;

$text-size-errorlabel: $text-size-regular;

$text-size-successlabel: $text-size-regular;

$text-size-comboinput-item: $text-size-big;

$text-size-selectinput-item: $text-size-big;
$text-size-selectinput-item-suffix: $text-size-regular;
