@use "styleboost";

:root {
	--badge-font-size: 0.9rem;
	--badge-font-weight: 400;
	--badge-line-height: 1;
	--badge-border-radius: 5px;
	--badge-padding: 4px 8px;
	--badge-white-space: nowrap;
	--badge-user-select: none;
	--badge-gap: 5px;
}

.alchemy-badge {
	display: inline-flex;
	text-align: center;

	gap: var(--badge-gap);
	user-select: var(--badge-user-select);
	padding: var(--badge-padding);
	font-size: var(--badge-font-size);
	font-weight: var(--badge-font-weight);
	line-height: var(--badge-line-height);
	border-radius: var(--badge-border-radius);
	color: var(--badge-color, var(--color-theme-fill-text));
	background-color: var(--badge-bg, var(--color-theme-fill));
	white-space: var(--badge-white-space);
}

$counter: 0;

// Iterate over all the available colors and create a badge color set for each
// We do this without the badge class to lower specificity
@each $color, $value in styleboost.$colors {
	$counter: $counter + 1;

	[data-badge-color-set="#{$counter}"] {
		--badge-color: var(--color-shade-#{$counter});
		--badge-bg: var(--color-tint-#{$counter});
	}
}