@use "styleboost";

al-button {
	@extend .default-button;

	display: inline-block;
	position: relative;

	.apb-content {
		display: flex;
		gap: 0.5em;
		height: 100%;

		> * {
			flex: auto;
			align-self: center;
		}
	}

	&[disabled] {
		pointer-events: none;
		filter: unquote("saturate(0.5)");
		cursor: not-allowed;
	}
}