al-field-array {
	display: block;
}

al-field-array-entry {
	display: flex;

	> .button {
		display: flex;
		align-content: center;
		padding-left: 0.5rem;
	}

	.button .remove > * {
		writing-mode: vertical-rl;
	}
}
