@use "styleboost" as *;

al-field {
	display: block;
	--badge-font-size: 1rem;

	&[field-type="boolean"] {
		
		.field {
			display: flex;
			justify-content: flex-start;
		}

		.boolean-true {
			@extend .use-truthy-theme;
		}

		.boolean-false {
			@extend .use-falsy-theme;
		}

		.value-icon {
			margin-right: 0.5rem;
		}
	}

	.alchemy-field-empty-value-placeholder {
		--color-theme-fill: var(--color-inactive-bg);
		--color-theme-fill-text: var(--color-inactive-bg-text);
		font-style: italic;
	}
}

al-form[readonly] al-field,
al-field[readonly] {
	pointer-events: none;

	.alchemy-field-value {
		opacity: 0.8;
		filter: brightness(0.95);
	}
}