al-field-array {
	display: block;
}

al-field-array-entry {
	display: flex;

	> .button-remove-wrapper {
		display: flex;
		align-content: center;
		padding-left: 0.75rem;

		> .remove {
			height: 100%;
			display: flex;
			flex-flow: column;
			gap: 0.5em;
		}
	}

	.button-remove-wrapper .remove > * {
		writing-mode: vertical-rl;
	}
}
