al-field {
	display: block;
	--badge-font-size: 1rem;

	&[field-type="boolean"] {
		
		.field {
			display: flex;
			justify-content: flex-start;
		}

		.boolean-true {
			--badge-bg: var(--boolean-true);
			--badge-color: white;
		}

		.boolean-false {
			--badge-bg: var(--boolean-false);
			--badge-color: white;
		}

		.value-icon {
			margin-right: 0.5rem;
		}
	}

	.alchemy-field-empty-value-placeholder {
		--badge-background-color: #f3f3f3;
		--boolean-color: #f3f3f3;
		color: #666;
		font-style: italic;
	}
}

al-form[readonly] al-field,
al-field[readonly] {
	pointer-events: none;

	.alchemy-field-value {
		opacity: 0.8;
		filter: brightness(0.95);
	}
}