@use "styleboost";

al-form {
	.error-area:empty {
		display: none;
	}

	.error-area:not(:empty) {
		@extend .use-danger-theme;
		border: 1px solid var(--color-theme-accent);
		color: var(--color-theme-bg-text);
		background-color: var(--color-theme-bg);
		padding: 0.2rem;
		border-radius: 4px;
	}
}

al-label {
	display: block;
	cursor: default;
}