al-table {
	display: flex;
	flex-flow: column;
	border: 1px solid #dadee0;
	font-family: sans-serif;
	background-color: white;
	color: #313131;

	table {
		border-collapse: collapse;
		width: 100%;
		color: inherit;
	}

	thead {
		td, th {
			background-color: #F4F5F9;
			padding: 1rem;
			border-bottom: 1px solid #dadee0;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 0.9rem;

			al-icon {
				margin-left: 1rem;
			}

			&.sortable {
				cursor: pointer;
			}

			a.sorting-anchor {
				text-decoration: none;
				color: inherit;
			}
		}
	}

	td, th {
		padding: 0.5rem 1rem;
		border-bottom: 1px solid #EDEFF0;
		cursor: default;
	}

	tr:last-of-type {
		td, th {
			border-bottom: 0;
		}
	}

	tr.aft-selected {
		td, th {
			background-color: #edeff5;
		}
	}

	footer {
		border-top: 1px solid #EDEFF0;
		background-color: #F4F5F9;
		padding: 0.5rem 1rem;

		&:empty {
			display: none;
		}
	}
}