@use "styleboost";

@layer defaults {
	al-tab-list {
		display: flex;
		gap: 0.75rem;
	}

	al-tab-button {
		@extend .button;
		z-index: 1;

		al-icon {
			margin-right: 0.5rem;
		}

		&[active] {
			font-weight: bold;
			z-index: 3;
		}
	}

	al-tab-panel {
		display: block;
		position: relative;

		padding: 0.7rem;
		z-index: 2;
		margin-top: -1px;
	}
}

al-tab-panel {
	&:not([active]) {
		display: none !important;
	}
}