<div class="input-wrapper">
	<%= input %>
	<% if (field.field_config.array) { %>
		<button class="remove-entry">x</button>
	<% } %>
</div>
<%
al_validation = create_element('al-validation');
al_validation.field = field;
al_validation.input = input;
print(al_validation);
%>