<% if (field.field_config.array) { %>
	<button class="add-field-entry">Add entry</button>
<% } %>
<div class="field-entries">
	<%
		if (field.field_config.array && field.original_value && field.original_value.length) {
			for (i = 0; i < field.original_value.length; i++) {
				print(field.addFieldEntry(i));
			}
		} else {
			print(field.addFieldEntry());
		}
	%>
</div>